<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.nova.sitesafety.mapper.SiteInfoMapper">

    <!-- 현장 상세 조회 -->
    <select id="selectSiteInfoBySiteCode" parameterType="String" resultType="SiteDetailResDTO">
        SELECT
            SITE_CODE,
            SITE_NAME,
            ADDRESS,
            LATITUDE,
            LONGITUDE,
            CRT_DTIME AS createdAt
        FROM T_SITE_INFO
        WHERE SITE_CODE = #{siteCode}
    </select>

</mapper>